<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <div class="header-flex-wrap">
            <a href="/" class="brand-text">
                <span>블로그패드</span>
            </a>
            <div class="btn-header-wrap">
                <a href="/member/login" class="button primary">
                    로그인
                </a>
            </div>
        </div>
    </header>