<%- include('./../header.ejs') %>
<title>블로그패드</title>
<link rel="stylesheet" href="../css/index.css">
    <div class="content">
        <div class="main-bg">
            <div class="main-text-wrap">
                <span class="main-text">
                    메모장같이 가벼운 블로그
                </span>
                <div class="start-button-wrap">
                    <a href="" class="button round-button start-button">
                        시작하기
                    </a>
                </div>
            </div>
        </div>
    </div>

    <%- include('./../footer.ejs') %>
</body>
</html>